<launch>
  <!-- Thrust -> PWM calibration -->
  <include file="$(find riptide_hardware)/launch/thrust_cal.launch" />

  <!-- Transformed IMU data -->
  <!-- <include file="$(find riptide_hardware)/launch/imu.launch" /> -->

  <!-- Monocular camera interface -->
  <include file="$(find riptide_hardware)/launch/mono_camera.launch" />
  <!-- Stereo camera interface -->
  <include file="$(find riptide_hardware)/launch/stereo_camera.launch" />

  <!-- Thruster control board -->
  <include file="$(find riptide_hardware)/launch/ttyS0.launch" />
  <!-- Power monitor board -->
  <include file="$(find riptide_hardware)/launch/ttyS1.launch" />
  <!-- Acoustic system enclosure -->
  <!-- <include file="$(find riptide_hardware)/launch/ttyS2.launch" /> -->
  <!-- Pneumatic system enclosure -->
  <!-- <include file="$(find riptide_hardware)/launch/ttyS3.launch" /> -->
  <!-- Depth sensor -->
  <include file="$(find riptide_hardware)/launch/ttyUSB0.launch" />

</launch>
