<launch>

  <arg name="port" value="0" />
  <!-- ROS joystick driver. Publishes /joy messages -->
  <node pkg="joy" type="joy_node" name="joystick_driver">
    <param name="dev" value="/dev/input/js${arg port}" />
  </node>
  <!-- ROS node subscribes to /joy and publishes corresponding command/accel -->
  <node pkg="riptide_teleop" type="ps3_control" name="ps3_control" />
</launch>
