<launch>
  <!--<include file="$(find riptide_hardware)/launch/camera.launch">
    <arg name="camera_name" value="upward" />
    <arg name="serial_number" value="14490542" />
  </include>-->

  <include file="$(find riptide_hardware)/launch/camera.launch">
    <arg name="camera_name" value="forward" />
    <!--<arg name="serial_number" value="14490573" />-->
    <arg name="serial_number" value="15662023"/>
  </include>
</launch>
