<launch>
  <arg name="frame_rate" default="30" />
  <arg name="fwd_serial_number" value="14490573" />
  <arg name="dwn_serial_number" value="15662023" />
  <arg name="spare_serial_number" value="14490542 " />
  <!--<arg name="spare_serial_number" value="14432788" />-->

  <include file="$(find riptide_hardware)/launch/camera.launch">
    <arg name="camera_name" value="forward" />
    <arg name="serial_number" value="$(arg fwd_serial_number)" />
    <arg name="frame_rate" value="$(arg frame_rate)" />
  </include>

  <include file="$(find riptide_hardware)/launch/camera.launch">
    <arg name="camera_name" value="downward" />
    <arg name="serial_number" value="$(arg spare_serial_number)" />
    <arg name="frame_rate" value="$(arg frame_rate)" />
  </include>
</launch>
