<launch>
  <param name="nominal_max_force" type="double" value="25.0" />
  <param name="nominal_max_pwm" type="double" value="100.0" />
  <group ns="thrust_cal">
    <param name="aft_fwd" type="double" value="0.5" />
    <param name="aft_rev" type="double" value="0.3" />
    <param name="stbd_fwd" type="double" value="1.0" />
    <param name="stbd_rev" type="double" value="0.6" />
    <param name="port_fwd" type="double" value="1.0" />
    <param name="port_rev" type="double" value="0.6" />
  </group>
  <node name="thrust_cal" pkg="jaws2_hardware" type="thrust_cal">
  </node>
</launch>
