<launch>

  <!-- Launch the comprehensive transformation remapping node -->
  <node name="imu_transform" pkg="riptide_hardware" type="imu_transform" />

  <!-- Launch the imu_3dm_gx4 driver node -->
  <include file="$(find imu_3dm_gx4)/launch/imu.launch">
    <arg name="enable_filter" value="true" />
  </include>

</launch>
