<launch>
  <arg name="mono_serial_number" value="14490542" />

  <group ns="monocular">

    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />
    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="camera_mono" />
      <param name="serial" value="$(arg mono_serial_number)" />
      <param name="camera_info_url" if="$(arg monocular_calibrated)"
             value="file://$(find riptide_vision)/camera_info/$(arg mono_serial_number).yaml" />
    </node>
    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
      args="load image_proc/debayer camera_nodelet_manager">
    </node>

  </group>

</launch>
