<!-- To record: 
   rosrun image_view video_recorder image:=/underwater_cam/image_rect _fps:=30 _filename:=output2.avi
   -->

<!-- To calibrate: 
    http://wiki.ros.org/camera_calibration
  -->

<launch>
   <include file="$(find video_stream_opencv)/launch/camera.launch" >
        <arg name="camera_name" value="underwater_cam" />
        <arg name="set_camera_fps" value="30"/>
        <arg name="fps" value="30" />
        <arg name="video_stream_provider" value="rtsp://192.168.1.10:554/user=admin_password=6QNMIQGe_channel=1_stream=1.sdp?real_stream" />
   </include>
   <node name="image_proc" pkg="image_proc" type="image_proc" ns="underwater_cam"/>

</launch>
