<launch>
   <!-- launch video stream -->
   <include file="$(find video_stream_opencv)/launch/camera.launch" >
        <!-- node name and ros graph name -->
        <arg name="camera_name" value="underwater_cam" />
        <!-- set camera fps to (if the device allows) -->
        <arg name="set_camera_fps" value="60"/>
        <!-- set buffer queue size of frame capturing to -->
        <arg name="fps" value="60" />
        <arg name="video_stream_provider" value="rtsp://192.168.1.10:554/user=admin_password=6QNMIQGe_channel=1_stream=1.sdp?real_stream" />
   </include>
</launch>