<launch>
  <node pkg="riptide_controls" type="attitude_controller" name="attitude_controller">
    <param name="roll/p" value="1" />
    <param name="roll/d" value="0" />
    <param name="pitch/p" value="1" />
    <param name="pitch/d" value="0" />
    <param name="yaw/p" value="1" />
    <param name="yaw/d" value="0" />
  </node>
</launch>
