<launch>
  <include file="$(find riptide_description)/launch/riptide_description.launch"/>
  <node pkg="riptide_controls" type="attitude_controller" name="attitude_controller">
    <param name="roll/p" value="25" />
    <param name="roll/d" value="5" />
    <param name="pitch/p" value="25" />
    <param name="pitch/d" value="5" />
    <param name="yaw/p" value="25" />
    <param name="yaw/d" value="5" />
  </node>
  <!-- <node pkg="riptide_controls" type="position_controller" name="position_controller">
      <param name="roll/p" value="1" />
      <param name="roll/d" value="0" />
      <param name="pitch/p" value="1" />
      <param name="pitch/d" value="0" />
      <param name="yaw/p" value="1" />
      <param name="yaw/d" value="0" />
    </node> -->
  <node pkg="riptide_controls" type="thruster_controller" name="thruster_controller" />
</launch>
