#IMU Rules for "imu_riptide" and "imu_eddy"
SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Lord Microstrain",ATTRS{product}=="Lord Inertial Sensor", ATTRS{serial}=="0000__6234.50972", MODE="0777", SYMLINK+="imu_riptide", GROUP="uwrt"
SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Lord Microstrain",ATTRS{product}=="Lord Inertial Sensor", ATTRS{serial}=="0000__6234.41818", MODE="0777", SYMLINK+="imu_eddy", GROUP="uwrt"

#Arduino Rule
SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Arduino SA",ATTRS{product}=="Uno R3 (CDC ACM)",ATTRS{serial}=="220", MODE="0777", SYMLINK+="arduino", GROUP="uwrt"

#Coprocessor Rule
SUBSYSTEMS=="usb", ATTRS{product}=="STM32Corpro", ATTRS{serial}=="00000000001A", MODE="0777", SYMLINK+="copro", GROUP="uwrt"

#PointGrey Cameras
ATTRS{idVendor}=="1e10", ATTRS{idProduct}=="3300", MODE="0666", GROUP="uwrt"
