#IMU Rules - set "imu_front" and "imu_rear"
SUBSYSTEM=="usb", ATTRS{manufacturer}=="Lord Microstrain",ATTRS{product}=="Lord Inertial Sensor", ATTRS{serial}=="0000__6234.50972", MODE="0777", SYMLINK+="imu_front", GROUP="uwrt"
SUBSYSTEM=="usb", ATTRS{manufacturer}=="Lord Microstrain",ATTRS{product}=="Lord Inertial Sensor", ATTRS{serial}=="0000__6234.41818", MODE="0777", SYMLINK+="imu_rear", GROUP="uwrt"

#Arduino Rule
SUBSYSTEM=="usb", ATTRS{manufacturer}=="Arduino SA",ATTRS{product}=="Uno R3 (CDC ACM)",ATTRS{serial}=="220", MODE="0777", SYMLINK+="arduino", GROUP="uwrt"

#Coprocessor Rule
SUBSYSTEM=="usb", ATTRS{product}=="STM32Corpro", ATTRS{serial}=="00000000001A", MODE="0777", SYMLINK+="copro", GROUP="uwrt"

#PointGrey Cameras
ATTRS{idVendor}=="1e10", ATTRS{idProduct}=="3300", MODE="0666", GROUP="uwrt"
