<?xml version="1.0"?>
<robot name="riptide" xmlns:xacro="http://ros.org/wiki/xacro">

    <!--                                -->
    <!--  Gazebo Simulation Properties  -->
    <!--                                -->

  <gazebo>
    <!--  Buoyancy  -->
    <plugin name="BuoyancyPlugin" filename="libBuoyancyPlugin.so">
      <link name="base_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>0.0253</volume>
      </link>
      <!-- <link name="housing_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>0.0223</volume>
      </link>
      <link name="chassis_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>0.0001</volume>
      </link>
      <link name="acoustics_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>0.0004</volume>
      </link>
      <link name="pneumatics_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>0.0005</volume>
      </link>
      <link name="port_battery_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>0.0009</volume>
      </link>
      <link name="stbd_battery_link">
        <center_of_volume>0 0 0</center_of_volume>
        <volume>0.0009</volume>
      </link>
      <xacro:macro name="thruster_volume" params="thruster">
        <link name="${thruster}_link">
          <center_of_volume>0 0 0</center_of_volume>
          <volume>0.0002</volume>
        </link>
      </xacro:macro>
      <xacro:thruster_volume thruster="surge_port_hi" />
      <xacro:thruster_volume thruster="surge_stbd_hi" />
      <xacro:thruster_volume thruster="surge_port_lo" />
      <xacro:thruster_volume thruster="surge_stbd_lo" />
      <xacro:thruster_volume thruster="sway_fwd" />
      <xacro:thruster_volume thruster="sway_aft" />
      <xacro:thruster_volume thruster="heave_port_fwd" />
      <xacro:thruster_volume thruster="heave_stbd_fwd" />
      <xacro:thruster_volume thruster="heave_port_aft" />
      <xacro:thruster_volume thruster="heave_stbd_aft" /> -->
    </plugin>
  </gazebo>

    <!--             -->
    <!-- Gazebo Colors -->
    <!--             -->

    <gazebo reference="housing_link">
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="chassis_link">
      <material>Gazebo/FlatBlack</material>
    </gazebo>

</robot>
