<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--                             -->
  <!--        Riptide Links        -->
  <!--                             -->

  <link name="base_link">
    <inertial>
      <mass value="0.00001" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>

  <!--               -->
  <!-- Housing Links -->
  <!--               -->
  <!-- TODO: Calculate actual buoyancy compensations -->

  <link name="housing_link">
    <inertial>
      <origin xyz="${housing_com}" rpy="0 0 0" />
      <mass value="${housing_mass}" />
      <xacro:insert_block name="housing_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${housing_mesh}" />
      </geometry>
      <material name="Grey" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${housing_mesh}" />
      </geometry>
    </collision>

    <buoyancy>
      <compensation>1.4</compensation>
      <origin xyz= "${housing_com}"/>
      <limit radius=".25"/>
      <damping xyz="60 100 100" rpy="20 50 50"/>
    </buoyancy>
  </link>

  <link name="chassis_link">
    <inertial>
      <origin xyz="${chassis_com}" rpy="0 0 0" />
      <mass value="${chassis_mass}" />
      <xacro:insert_block name="chassis_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${chassis_mesh}" />
      </geometry>
      <material name="FlatBlack" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${chassis_mesh}" />
      </geometry>
    </collision>
  </link>

  <link name="acoustics_link">
    <inertial>
      <origin xyz="${acoustics_com}" rpy="0 0 0" />
      <mass value="${acoustics_mass}" />
      <xacro:insert_block name="acoustics_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${acoustics_mesh}" />
      </geometry>
      <material name="DarkGrey" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${acoustics_mesh}" />
      </geometry>
    </collision>

    <!-- <buoyancy>
      <compensation>0</compensation>
      <origin xyz= "${acoustics_com}"/>
      <limit radius=".25"/>
      <damping xyz="0 0 0" rpy="0 0 0"/>
    </buoyancy> -->
  </link>

  <link name="pneumatics_link">
    <inertial>
      <origin xyz="${pneumatics_com}" rpy="0 0 0" />
      <mass value="${pneumatics_mass}" />
      <xacro:insert_block name="pneumatics_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${pneumatics_mesh}" />
      </geometry>
      <material name="DarkGrey" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${pneumatics_mesh}" />
      </geometry>
    </collision>

    <buoyancy>
      <compensation>1.4</compensation>
      <origin xyz= "${pneumatics_com}"/>
      <limit radius=".25"/>
      <damping xyz="0 0 0" rpy="0 0 0"/>
    </buoyancy>
  </link>

  <link name="port_battery_link">
    <inertial>
      <origin xyz="${port_battery_com}" rpy="0 0 0" />
      <mass value="${port_battery_mass}" />
      <xacro:insert_block name="port_battery_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${port_battery_mesh}" />
      </geometry>
      <material name="DarkGrey" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${port_battery_mesh}" />
      </geometry>
    </collision>

    <buoyancy>
      <compensation>1.4</compensation>
      <origin xyz= "${port_battery_com}"/>
      <limit radius=".25"/>
      <damping xyz="0 0 0" rpy="0 0 0"/>
    </buoyancy>
  </link>

  <link name="stbd_battery_link">
    <inertial>
      <origin xyz="${stbd_battery_com}" rpy="0 0 0" />
      <mass value="${stbd_battery_mass}" />
      <xacro:insert_block name="stbd_battery_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${stbd_battery_mesh}" />
      </geometry>
        <material name="DarkGrey"/>
    </visual>

    <collision>
      <geometry>
        <mesh filename="${stbd_battery_mesh}" />
      </geometry>
    </collision>

    <buoyancy>
      <compensation>1.4</compensation>
      <origin xyz= "${stbd_battery_com}"/>
      <limit radius=".25"/>
      <damping xyz="0 0 0" rpy="0 0 0"/>
    </buoyancy>
  </link>

  <!--                -->
  <!-- Thruster Links -->
  <!--                -->

  <xacro:macro name="thruster_link" params="thruster">
    <link name="${thruster}_link">
      <inertial>
        <origin xyz="${thruster_com}" rpy="0 0 0" />
        <mass value="${thruster_mass}" />
        <xacro:insert_block name="thruster_inertia" />
      </inertial>

      <visual>
        <geometry>
          <mesh filename="${thruster_mesh}" />
        </geometry>
          <material name="RedBright"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="${thruster_mesh}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:thruster_link thruster="surge_port_hi" />
  <xacro:thruster_link thruster="surge_stbd_hi" />
  <xacro:thruster_link thruster="surge_port_lo" />
  <xacro:thruster_link thruster="surge_stbd_lo" />
  <xacro:thruster_link thruster="sway_fwd" />
  <xacro:thruster_link thruster="sway_aft" />
  <xacro:thruster_link thruster="heave_port_fwd" />
  <xacro:thruster_link thruster="heave_stbd_fwd" />
  <xacro:thruster_link thruster="heave_port_aft" />
  <xacro:thruster_link thruster="heave_stbd_aft" />

  <!--              -->
  <!-- Sensor Links -->
  <!--              -->

  <link name="imu_one_link">
    <inertial>
      <mass value="0.00001" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <!-- Collision Geometry necessary for Buoyancy Plugin to work! -->
    <collision>
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
  </link>

  <link name="depth_sensor_link">
    <inertial>
      <mass value="0.00001" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <!-- Collision Geometry necessary for Buoyancy Plugin to work! -->
    <collision>
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
  </link>

  <link name="camera_fwd_port_link">
    <inertial>
      <mass value="0.00001" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <!-- Collision Geometry necessary for Buoyancy Plugin to work! -->
    <collision>
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
  </link>

  <link name="camera_fwd_stbd_link">
    <inertial>
      <mass value="0.00001" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <!-- Collision Geometry necessary for Buoyancy Plugin to work! -->
    <collision>
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
  </link>

  <link name="camera_down_port_link">
    <inertial>
      <mass value="0.00001" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <!-- Collision Geometry necessary for Buoyancy Plugin to work! -->
    <collision>
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
  </link>

  <link name="camera_down_stbd_link">
    <inertial>
      <mass value="0.00001" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <!-- Collision Geometry necessary for Buoyancy Plugin to work! -->
    <collision>
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
  </link>

</robot>
