<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--               -->
  <!-- Housing Links -->
  <!--               -->

  <link name="base_link">
  </link>

  <link name="housing_link">
    <inertial>
      <origin xyz="${housing_com}" rpy="0 0 0" />
      <mass value="${housing_mass}" />
      <xacro:insert_block name="housing_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${housing_mesh}" />
      </geometry>
      <material name="housing" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${housing_mesh}" />
      </geometry>
    </collision>
  </link>

  <link name="chassis_link">
    <inertial>
      <origin xyz="${chassis_com}" rpy="0 0 0" />
      <mass value="${chassis_mass}" />
      <xacro:insert_block name="chassis_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${chassis_mesh}" />
      </geometry>
      <material name="chassis" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${chassis_mesh}" />
      </geometry>
    </collision>
  </link>

  <link name="acoustics_link">
    <inertial>
      <origin xyz="${acoustics_com}" rpy="0 0 0" />
      <mass value="${acoustics_mass}" />
      <xacro:insert_block name="acoustics_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${acoustics_mesh}" />
      </geometry>
      <material name="acoustics" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${acoustics_mesh}" />
      </geometry>
    </collision>
  </link>

  <link name="pneumatics_link">
    <inertial>
      <origin xyz="${pneumatics_com}" rpy="0 0 0" />
      <mass value="${pneumatics_mass}" />
      <xacro:insert_block name="pneumatics_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${pneumatics_mesh}" />
      </geometry>
      <material name="pneumatics" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${pneumatics_mesh}" />
      </geometry>
    </collision>
  </link>

  <link name="port_battery_link">
    <inertial>
      <origin xyz="${port_battery_com}" rpy="0 0 0" />
      <mass value="${port_battery_mass}" />
      <xacro:insert_block name="port_battery_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${port_battery_mesh}" />
      </geometry>
      <material name="battery" />
    </visual>

    <collision>
      <geometry>
        <mesh filename="${port_battery_mesh}" />
      </geometry>
    </collision>
  </link>

  <link name="stbd_battery_link">
    <inertial>
      <origin xyz="${stbd_battery_com}" rpy="0 0 0" />
      <mass value="${stbd_battery_mass}" />
      <xacro:insert_block name="stbd_battery_inertia"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="${stbd_battery_mesh}" />
      </geometry>
        <material name="battery"/>
    </visual>

    <collision>
      <geometry>
        <mesh filename="${stbd_battery_mesh}" />
      </geometry>
    </collision>
  </link>

  <!--                -->
  <!-- Thruster Links -->
  <!--                -->

  <xacro:macro name="thruster_link" params="name">
    <link name="${name}_link">
      <inertial>
        <origin xyz="${thruster_com}" rpy="0 0 0" />
        <mass value="${thruster_mass}" />
        <xacro:insert_block name="thruster_inertia" />
      </inertial>

      <visual>
        <geometry>
          <mesh filename="${thruster_mesh}" />
        </geometry>
          <material name="thruster"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="${thruster_mesh}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:thruster_link name="surge_port_hi" />
  <xacro:thruster_link name="surge_stbd_hi" />
  <xacro:thruster_link name="surge_port_lo" />
  <xacro:thruster_link name="surge_stbd_lo" />
  <xacro:thruster_link name="sway_fwd" />
  <xacro:thruster_link name="sway_aft" />
  <xacro:thruster_link name="heave_port_fwd" />
  <xacro:thruster_link name="heave_stbd_fwd" />
  <xacro:thruster_link name="heave_port_aft" />
  <xacro:thruster_link name="heave_stbd_aft" />

</robot>
