<?xml version="1.0"?>
<robot name="riptide" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--                                -->
  <!-- Gazebo Riptide Link Properties -->
  <!--                                -->

  <gazebo reference="housing_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="chassis_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="acoustics_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="pneumatics_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="port_battery_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="stbd_battery_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <xacro:macro name="thruster_link_gazebo" params="name">
    <gazebo reference="${name}_link">
      <material>Gazebo/RedBright</material>
    </gazebo>
  </xacro:macro>

  <xacro:thruster_link_gazebo name="surge_port_hi" />
  <xacro:thruster_link_gazebo name="surge_stbd_hi" />
  <xacro:thruster_link_gazebo name="surge_port_lo" />
  <xacro:thruster_link_gazebo name="surge_stbd_lo" />
  <xacro:thruster_link_gazebo name="sway_fwd" />
  <xacro:thruster_link_gazebo name="sway_aft" />
  <xacro:thruster_link_gazebo name="heave_port_fwd" />
  <xacro:thruster_link_gazebo name="heave_stbd_fwd" />
  <xacro:thruster_link_gazebo name="heave_port_aft" />
  <xacro:thruster_link_gazebo name="heave_stbd_aft" />

  <!--                                 -->
  <!-- Gazebo Riptide Joint Properties -->
  <!--                                 -->

  <gazebo reference="base_housing_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="housing_chassis_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="chassis_acoustics_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="chassis_pneumatics_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="chassis_port_battery_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="chassis_stbd_battery_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <xacro:macro name="thruster_joint_gazebo" params="name">
    <gazebo reference="${name}_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>
  </xacro:macro>

  <xacro:thruster_joint_gazebo name="surge_port_hi" />
  <xacro:thruster_joint_gazebo name="surge_stbd_hi" />
  <xacro:thruster_joint_gazebo name="surge_port_lo" />
  <xacro:thruster_joint_gazebo name="surge_stbd_lo" />
  <xacro:thruster_joint_gazebo name="sway_fwd" />
  <xacro:thruster_joint_gazebo name="sway_aft" />
  <xacro:thruster_joint_gazebo name="heave_port_fwd" />
  <xacro:thruster_joint_gazebo name="heave_stbd_fwd" />
  <xacro:thruster_joint_gazebo name="heave_port_aft" />
  <xacro:thruster_joint_gazebo name="heave_stbd_aft" /> -->

  <gazebo reference="housing_imu_one_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>


  <gazebo reference="housing_depth_sensor_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="housing_camera_fwd_port_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="housing_camera_fwd_stbd_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="housing_camera_down_port_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <gazebo reference="housing_camera_down_stbd_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <!--                                 -->
  <!--  Riptide Simulation Properties  -->
  <!--                                 -->

  <gazebo>

    <!--                                  -->
    <!-- Gazebo Riptide Sensor Properties -->
    <!--                                  -->

    <plugin name="imu_one" filename="libgazebo_ros_riptide_imu.so">
      <robotNamespace></robotNamespace>
      <serviceName>/imu</serviceName>
      <topicName>/state/imu</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <sensorLink>imu_one_link</sensorLink>
      <xyzOffset>0 0 0</xyzOffset>
      <rpyOffset>0 0 0</rpyOffset>
      <updateRate>100.0</updateRate>
      <frameName>imu_one_link</frameName>
    </plugin>

    <!--                                    -->
    <!-- Gazebo Riptide Thruster Properties -->
    <!--                                    -->

    <plugin filename="libgazebo_ros_riptide_thrust.so" name="thrust">
      <robotNamespace></robotNamespace>
      <topicName>/command/thrust</topicName>
    </plugin>

    <!--                                    -->
    <!-- Gazebo Riptide Depth Sensor Properties -->
    <!--                                    -->

    <plugin filename="libgazebo_ros_depth_sensor.so" name="DepthSensor">
      <robotNamespace></robotNamespace>
      <topicName>/state/depth</topicName>
      <seaLevel>0</seaLevel>
      <fluidDensity>0.998</fluidDensity>
      <sensorLink>depth_sensor_link</sensorLink>
    </plugin>

  </gazebo>

  <!--                                  -->
  <!-- Gazebo Riptide Camera Properties -->
  <!--                                  -->

  <!-- Stereo Camera -->

  <gazebo reference="camera_fwd_port_link">
    <sensor type="camera" name="forward">
      <update_rate>30.0</update_rate>
      <camera name="forward">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>30.0</updateRate>
        <cameraName>forward</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_fwd_port_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>


</robot>
