<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="housing_camera_port" value="0.2744 0.04 -0.0004" />
  <xacro:property name="housing_camera_stbd" value="0.2744 -0.04 -0.0004" />
  <xacro:property name="housing_camera_down" value="0.236 0 -0.062" />
  <xacro:property name="housing_depth_sensor" value="0 0 0.1049" />
  <xacro:property name="housing_imu_one" value="0.1322 -0.0056 0.0268" />
  <xacro:property name="housing_imu_two" value="-0.1469 0.0004 -0.0405" />

  <xacro:property name="base_housing" value="0.0737 0.0005 0.0621" />
  <xacro:property name="housing_chassis" value="-0.0556 0 -0.0749" />
  <xacro:property name="chassis_acoustics" value="0.1699 0 -0.0584" />
  <xacro:property name="chassis_pneumatics" value="-0.1172 0 -0.0584" />
  <xacro:property name="chassis_port_battery" value="-0.1781 0.1302 -0.014" />
  <xacro:property name="chassis_stbd_battery" value="-0.1781 -0.1302 -0.014" />
  <xacro:property name="chassis_surge_port_hi" value="-0.2238 0.1824 0.1384" />
  <xacro:property name="chassis_surge_stbd_hi" value="-0.2238 -0.1824 0.1384" />
  <xacro:property name="chassis_surge_port_lo" value="-0.2238 0.1824 -0.0838" />
  <xacro:property name="chassis_surge_stbd_lo" value="-0.2238 -0.1824 -0.0838" />
  <xacro:property name="chassis_sway_fwd" value="0.3776 0 -0.0838" />
  <xacro:property name="chassis_sway_aft" value="-0.3744 0 -0.0838" />
  <xacro:property name="chassis_heave_port_fwd" value="0.2824 0.1824 -0.0033" />
  <xacro:property name="chassis_heave_stbd_fwd" value="0.2824 -0.1824 -0.0033" />
  <xacro:property name="chassis_heave_port_aft" value="-0.2724 0.1824 -0.0033" />
  <xacro:property name="chassis_heave_stbd_aft" value="-0.2724 -0.1824 -0.0033" />

  <xacro:property name="housing_com" value="-0.0251 0.0002 -0.0224" />
  <xacro:property name="chassis_com" value="0.0129 0 0.0561" />
  <xacro:property name="acoustics_com" value="0.0027 0.0027 -0.0265" />
  <xacro:property name="pneumatics_com" value="0.0141 0.0015 -0.0392" />
  <xacro:property name="port_battery_com" value="0.0936 0.0278 -0.0003" />
  <xacro:property name="stbd_battery_com" value="0.0962 -0.0291 -0.0003" />
  <xacro:property name="thruster_com" value="0.0075 -0.0006 0" />

  <xacro:property name="housing_mass" value="9.59" />
  <xacro:property name="chassis_mass" value="2.71" />
  <xacro:property name="acoustics_mass" value="0.97" />
  <xacro:property name="pneumatics_mass" value="1.3503" />
  <xacro:property name="port_battery_mass" value="1.867" />
  <xacro:property name="stbd_battery_mass" value="1.867" />
  <xacro:property name="thruster_mass" value="0.35" />

  <xacro:property name="housing_inertia"><inertia ixx="0.1027" ixy="0.0000" ixz="0.0000" iyy="0.4425" iyz="0.0000" izz="0.4273" /></xacro:property>
  <xacro:property name="chassis_inertia"><inertia ixx="0.216" ixy="0.0000" ixz="0.0000" iyy="0.1953" iyz="0.0000" izz="0.0952" /></xacro:property>
  <xacro:property name="acoustics_inertia"><inertia ixx="0.0019" ixy="0.0000" ixz="0.0000" iyy="0.0019" iyz="0.0000" izz="0.003" /></xacro:property>
  <xacro:property name="pneumatics_inertia"><inertia ixx="0.008" ixy="0.0000" ixz="0.0000" iyy="0.0088" iyz="0.0000" izz="0.0107" /></xacro:property>
  <xacro:property name="port_battery_inertia"><inertia ixx="0.0034" ixy="0.0000" ixz="0.0000" iyy="0.0253" iyz="0.0000" izz="0.0262" /></xacro:property>
  <xacro:property name="stbd_battery_inertia"><inertia ixx="0.0034" ixy="0.0000" ixz="0.0000" iyy="0.0253" iyz="0.0000" izz="0.0262" /></xacro:property>
  <xacro:property name="thruster_inertia"><inertia ixx="0.00033" ixy="0.0000" ixz="0.0000" iyy="0.00031" iyz="0.0000" izz="0.00032" /></xacro:property>

  <xacro:property name="housing_mesh" value="package://riptide_description/meshes/riptide_housing.stl" />
  <xacro:property name="chassis_mesh" value="package://riptide_description/meshes/riptide_chassis.stl" />
  <xacro:property name="acoustics_mesh" value="package://riptide_description/meshes/riptide_acoustics.stl" />
  <xacro:property name="pneumatics_mesh" value="package://riptide_description/meshes/riptide_pneumatics.stl" />
  <xacro:property name="port_battery_mesh" value="package://riptide_description/meshes/riptide_port_battery.stl" />
  <xacro:property name="stbd_battery_mesh" value="package://riptide_description/meshes/riptide_stbd_battery.stl" />
  <xacro:property name="thruster_mesh" value="package://riptide_description/meshes/blue_robotics_t200.stl" />

  <xacro:property name="align_surge_port_hi" value="0 ${-M_PI/2} ${M_PI}" />
  <xacro:property name="align_surge_stbd_hi" value="0 ${M_PI/2} 0" />
  <xacro:property name="align_surge_port_lo" value="0 ${-M_PI/2} ${M_PI}" />
  <xacro:property name="align_surge_stbd_lo" value="0 ${M_PI/2} 0" />
  <xacro:property name="align_sway_fwd" value="0 ${M_PI/2} ${M_PI/2}" />
  <xacro:property name="align_sway_aft" value="0 ${-M_PI/2} ${-M_PI/2}" />
  <xacro:property name="align_heave_port_fwd" value="0 0 ${M_PI}" />
  <xacro:property name="align_heave_stbd_fwd" value="0 0 0" />
  <xacro:property name="align_heave_port_aft" value="0 0 ${M_PI}" />
  <xacro:property name="align_heave_stbd_aft" value="0 0 0" />

</robot>
