<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159266"/>

  <xacro:property name="pitch_fix">
    <origin xyz="0 0 0" rpy="0 ${M_PI/2} 0"/>
  </xacro:property>
  <xacro:property name="roll_fix">
    <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
  </xacro:property>


  <xacro:property name="" value=""/>


  <xacro:property name="_inertia">
    <inertia ixx="" ixy="" ixz=""
             iyy="" iyz=""
             izz=""/>
  </xacro:property>
  <xacro:property name="_origin">
    <origin xyz="" rpy=""/>
  </xacro:property>
