<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--                              -->
  <!--        Riptide Joints        -->
  <!--                              -->

  <joint name="base_housing_joint" type="fixed">
    <origin xyz="${base_housing}" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="housing_link"/>
  </joint>

  <!--                -->
  <!-- Housing Joints -->
  <!--                -->

  <joint name="housing_chassis_joint" type="fixed">
    <origin xyz="${housing_chassis}" rpy="0 0 0"/>
    <parent link="housing_link"/>
    <child link="chassis_link"/>
  </joint>

  <joint name="chassis_acoustics_joint" type="fixed">
    <origin xyz="${chassis_acoustics}" rpy="0 0 0"/>
    <parent link="chassis_link"/>
    <child link="acoustics_link"/>
  </joint>

  <joint name="chassis_pneumatics_joint" type="fixed">
    <origin xyz="${chassis_pneumatics}" rpy="0 0 0"/>
    <parent link="chassis_link"/>
    <child link="pneumatics_link"/>
  </joint>

  <joint name="chassis_port_battery_joint" type="fixed">
    <origin xyz="${chassis_port_battery}" rpy="0 0 0"/>
    <parent link="chassis_link"/>
    <child link="port_battery_link"/>
  </joint>

  <joint name="chassis_stbd_battery_joint" type="fixed">
    <origin xyz="${chassis_stbd_battery}" rpy="0 0 0"/>
    <parent link="chassis_link"/>
    <child link="stbd_battery_link"/>
  </joint>

  <!--                 -->
  <!-- Thruster Joints -->
  <!--                 -->

  <xacro:macro name="thruster_joint" params="name p o">
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${p}" rpy="${o}"/>
      <parent link="chassis_link"/>
      <child link="${name}_link"/>
    </joint>
  </xacro:macro>

  <xacro:thruster_joint name="surge_port_hi" p="${chassis_surge_port_hi}" o="${align_surge_port_hi}"/>
  <xacro:thruster_joint name="surge_stbd_hi" p="${chassis_surge_stbd_hi}" o="${align_surge_stbd_hi}"/>
  <xacro:thruster_joint name="surge_port_lo" p="${chassis_surge_port_lo}" o="${align_surge_port_lo}"/>
  <xacro:thruster_joint name="surge_stbd_lo" p="${chassis_surge_stbd_lo}" o="${align_surge_stbd_lo}"/>
  <xacro:thruster_joint name="sway_fwd" p="${chassis_sway_fwd}" o="${align_sway_fwd}"/>
  <xacro:thruster_joint name="sway_aft" p="${chassis_sway_aft}" o="${align_sway_aft}"/>
  <xacro:thruster_joint name="heave_port_fwd" p="${chassis_heave_port_fwd}" o="${align_heave_port_fwd}"/>
  <xacro:thruster_joint name="heave_stbd_fwd" p="${chassis_heave_stbd_fwd}" o="${align_heave_stbd_fwd}"/>
  <xacro:thruster_joint name="heave_port_aft" p="${chassis_heave_port_aft}" o="${align_heave_port_aft}"/>
  <xacro:thruster_joint name="heave_stbd_aft" p="${chassis_heave_stbd_aft}" o="${align_heave_stbd_aft}"/>

</robot>
