<?xml version="1.0"?>

<!--                                  -->
<!--  Description of the Riptide AUV  -->
<!--                                  -->
<!--  The Underwater Robotics Team    -->
<!--     @ The Ohio State University  -->
<!--                                  -->

<robot name="riptide" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="riptide_dimensions.urdf.xacro" />
  <xacro:include filename="riptide_links.urdf.xacro" />
  <xacro:include filename="riptide_joints.urdf.xacro" />
  <xacro:include filename="t200_thruster.urdf.xacro" />

  <material name="chassis">
    <color rgba="0 0 0 1.0"/>
  </material>
  <material name="housing">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="thruster">
    <color rgba="0.365 0 0 1.0"/>
  </material>

</robot>
