<launch>
  <machine address="jetson" name="jetson" user="ros" env-loader="~/osu-uwrt/riptide_software/src/riptide_utilities/baycat_master.sh"/>
  <arg name="machine_name" default="jetson" />

  <node machine="$(arg machine_name)" pkg="riptide_vision" type="hud" name="hud" output="screen" />
</launch>
