<launch>
  <arg name="left_camera_serial" default="14490573" />
  <arg name="left_calibrated" default="0" />
  <arg name="right_camera_serial" default="14432788" />
  <arg name="right_calibrated" default="0" />
  <group ns="stereo">
      <node pkg="nodelet" type="nodelet" name="stereo_image_proc_debayer"
        args="load stereo_image_proc/debayer camera_nodelet_manager">
      </node>

    <group ns="left">
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />
      <node pkg="nodelet" type="nodelet" name="camera_nodelet"
            args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
        <param name="frame_id" value="left_camera" />
        <param name="serial" value="$(arg left_camera_serial)" />
        <param name="camera_info_url" if="$(arg left_calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg left_serial).yaml" />
      </node>
    </group>

    <group ns="right">
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />
      <node pkg="nodelet" type="nodelet" name="camera_nodelet"
            args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
        <param name="frame_id" value="right_camera" />
        <param name="serial" value="$(arg right_camera_serial)" />
        <param name="camera_info_url" if="$(arg right_calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg right_serial).yaml" />
      </node>
    </group>

  </group>
</launch>

