#!/usr/bin/env python
PACKAGE="riptide_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

xBox = gen.add_group("xBox")
yBox = gen.add_group("yBox")

#         Name               Type      Level  Description             Default Min     Max
xBox.add( "x_max_force",    double_t, 1,     "Max force in Newton",   40,     0,      60)
xBox.add( "x_velocity_p",   double_t, 1,     "P value for velocity",  2,     0,      999)
yBox.add( "y_max_force",    double_t, 1,     "Max force in Newton",   40,      0,      60)
yBox.add( "y_velocity_p",   double_t, 1,     "P value for velocity",  2,      0,      999)
                 # PkgName #NodeName              #Prefix for generated .h include file, e.g. ParametersConfig.py
exit(gen.generate(PACKAGE, "alignment_controller", "AlignmentController"))