<launch>
  <include file="$(find riptide_description)/launch/riptide_description.launch"/>
  <node pkg="riptide_navigation" type="attitude_controller" name="attitude_controller">
    <param name="roll/p" value="0" />
    <param name="roll/d" value="0" />
    <param name="pitch/p" value="0" />
    <param name="pitch/d" value="0" />
    <param name="yaw/p" value="0" />
    <param name="yaw/d" value="0" />
  </node>
  <!-- <node type="position_controller" pkg="riptide_navigation" name="position_controller" /> -->
  <node type="thruster_controller" pkg="riptide_navigation" name="thruster_controller" />
</launch>
