<launch>
  <include file="$(find riptide_navigation)/launch/attitude_controller.launch"/>
  <node pkg="riptide_navigation" type="position_controller" name="position_controller">
      <param name="surge/p" value="1" />
      <param name="surge/d" value="0" />
      <param name="heave/p" value="3" />
      <param name="heave/d" value="0" />
      <param name="sway/p" value="1" />
      <param name="sway/d" value="0" />
    </node>
</launch>
