<launch>
  <node pkg="riptide_controllers" type="calibrate.py" name="calibrate" output="screen">
    <param name="properties_file" type="string" value="$(find riptide_controllers)/cfg/vehicle_properties.yaml" />
  </node>
  <node pkg="riptide_controllers" type="goToDepth.py" name="go_to_depth" output="screen" />
</launch>
