<launch>
  <arg name="properties_file" value="$(find riptide_controllers)/cfg/vehicle_properties.yaml" />
  
  <node pkg="riptide_controllers" type="pwm_controller" name="pwm_controller" output="screen" >
    <rosparam command="load" file="$(find riptide_controllers)/cfg/thruster_force_vs_pwm.yaml" />
    <param name="properties_file" type="string" value="$(arg properties_file)" />
  </node>
</launch>
