<launch>
  <arg name="tune" default="false" />
  <arg name="properties_file" value="$(find riptide_controllers)/cfg/vehicle_properties.yaml" />

  <node pkg="riptide_controllers" type="thruster_controller" name="thruster_controller" output="screen" >
    <param name="tune" type="bool" value="$(arg tune)" />
    <param name="properties_file" type="string" value="$(arg properties_file)" />
  </node>
</launch>
