<launch>
  <include file="$(find riptide_autonomy)/launch/be_autonomous.launch" />
  <include file="$(find riptide_hardware)/launch/hardware.launch" />
  <include file="$(find riptide_controllers)/launch/controllers.launch" />
  <include file="$(find riptide_vision)/launch/vision.launch" />
</launch>
