<launch>
  <include file="$(find riptide_autonomy)/launch/be_autonomous.launch" />
  <!--<include file="$(find riptide_hardware)/launch/hardware.launch" />-->
  <!--<include file="$(find riptide_hardware)/launch/darknet_ros_jetson.launch" />-->
  <include file="$(find riptide_controllers)/launch/controllers.launch" />
  <!--<include file="$(find riptide_vision)/launch/vision_jetson.launch" />-->
  <!--<include file="$(find riptide_vision)/launch/vision.launch" />-->

  <!-- If you want to rosbag these topics, then set competition to true -->
  <arg name="log" default="false" />
  <node pkg="rosbag" type="record" name="record_autonomy" 
        args="record -o ../mission /rosout_agg /darknet_ros/image_hud /task/bboxes" 
        if="$(arg log)" />
        
</launch>
