<launch>
  <!-- CONTROL STACK / launch from bottom to top-->
  <include file="$(find riptide_hardware)/launch/ttyACM0.launch" /> <!--Establish serial link with thruster control board-->
  <include file="$(find riptide_controllers)/launch/pwm_controller.launch"/> <!-- Thrust to PWM node -->
  <include file="$(find riptide_controllers)/launch/thruster_controller.launch"/> <!-- Accel to Thrust node -->

  <!--<include file="$(find riptide_hardware)/launch/imu.launch" />--> <!-- Run imu and processor -->

  <include file="$(find riptide_controllers)/launch/command_combinator.launch" /> <!-- Command aggregate node -->

  <include file="$(find riptide_controllers)/launch/depth_controller.launch" /> <!-- Command/Depth to Z Accel -->
  <include file="$(find riptide_controllers)/launch/twist_controller.launch" />
  <include file="$(find riptide_controllers)/launch/orientation_controller.launch" /> <!-- Command/Orientation to angular accels -->
</launch>
