<launch>
  <arg name="debug" default="false" />

  <include file="$(find riptide_hardware)/launch/hardware.launch" />
  <include file="$(find riptide_controllers)/launch/controllers.launch" >
    <arg name="debug" value="$(arg debug)" />
  </include>

  <include file="$(find riptide_hardware)/launch/cameras_jetson.launch" />
  <include file="$(find darknet_ros)/launch/darknet_ros_jetson.launch" />
  <include file="$(find riptide_vision)/launch/vision.launch" />
</launch>
