<launch>
  <arg name="tune" default="false" />

  <!--<include file="$(find riptide_hardware)/launch/hardware.launch" />-->
  <include file="$(find riptide_controllers)/launch/controllers.launch" >
    <arg name="tune" value="$(arg tune)" />
  </include>

  <!--<include file="$(find riptide_hardware)/launch/cameras_jetson.launch" />-->
  <include file="$(find riptide_hardware)/launch/darknet_ros_jetson.launch" />
  <include file="$(find riptide_vision)/launch/vision_jetson.launch" />
</launch>
