<launch>
  <include file="$(find riptide_hardware)/launch/coprocessor.launch" />
  <include file="$(find riptide_hardware)/launch/arduino.launch" />

  <include file="$(find riptide_controllers)/launch/pwm_controller.launch" />
  <include file="$(find riptide_controllers)/launch/thruster_controller.launch"/> <!-- Accel to Thrust node -->

  <include file="$(find riptide_controllers)/launch/command_combinator.launch" /> <!-- Command aggregate node -->

  <include file="$(find riptide_controllers)/launch/depth_controller.launch" /> <!-- Command/Depth to Z Accel -->

 <!-- <include file="$(find riptide_hardware)/launch/imu.launch" />-->
 <include file="$(find riptide_controllers)/launch/attitude_controller.launch" />
</launch>
