<launch>
  <!-- CONTROL STACK / launch from bottom to top-->
  <include file="$(find riptide_controllers)/launch/thruster_controller.launch"/> <!-- Accel to Thrust node -->

  <include file="$(find riptide_controllers)/launch/command_combinator.launch" /> <!-- Command aggregate node -->

  <include file="$(find riptide_controllers)/launch/depth_controller.launch" /> <!-- Command/Depth to Z Accel -->

  <include file="$(find riptide_controllers)/launch/orientation_controller.launch" /> <!-- Command/Orientation to angular accels -->

</launch>
