<launch>
  <!--<include file="$(find riptide_hardware)/launch/coprocessor.launch" /> -->
  <machine address="jetson" name="jetson" user="ros" env-loader="~/osu-uwrt/riptide_software/src/riptide_utilities/robot_master.sh"/>
  <node machine="jetson" pkg="riptide_utilities" type="ps3_control.py" name="ps3"/>
  <node pkg="joy" type="joy_node" name="joy_node"/>

</launch>
