<launch>
  <arg name="location" default="columbus" />
  <include file="$(find riptide_hardware)/launch/arduino.launch" /> <!--Establish serial link with thruster control board-->
  <include file="$(find riptide_hardware)/launch/thrust_cal.launch"/> <!-- Thrust to PWM -->
  <include file="$(find riptide_controllers)/launch/thruster_controller.launch"/> <!-- Accel to Thrust -->
  <include file="$(find riptide_behaviors)/launch/go_straight.launch" /> <!-- Mission controller -->
  <include file="$(find riptide_hardware)/launch/imu.launch">
    <arg name="location" value="$(arg location)" />
  </include>
  <include file="$(find riptide_hardware)/launch/cameras.launch" />
  <node pkg="rosbag" type="record" args="-O /home/ros/osu-uwrt/log/robosub /forward/image_raw /downward/image_raw /imu/imu /imu/magnetic_field /command/accel /command/thrust" name="record" />
</launch>
